@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins";
  line-height: 1.6;
  color: #0d1136;
}

.xs-icon {
  font-size: 14px;
  margin-right: 0.5rem;
}

.icon-text {
  display: flex;
  align-items: center;
}

.title {
  padding: 0.5rem;
  background: #f7f7f7;
  color: #009e7f;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  margin-left: 0.5rem;
}

.primary-btn,
.secondary-btn {
  background: #009e7f;
  color: rgba(255, 255, 255, 0.918) !important;
  padding: 0.65rem 0.8rem;
  border-radius: 8px;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

.primary-btn:hover,
.secondary-btn:hover {
  background: #008f72;
}

.secondary-btn {
  background: none;
  border: 1px solid #eee;
  color: #009e7f !important;
}

.secondary-btn.flag {
  display: flex;
  align-items: center;
}

.secondary-btn.flag:hover {
  background: none;
  color: #009e7f;
}

.secondary-btn.flag img {
  width: 25px;
  margin-right: 0.4rem;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #fff;
  z-index: 2;
}

.navbar-header {
  position: relative;
}

.navbar-header .navbar {
  padding: 1.5rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0d1136;
}

.navbar-header .navbar form {
  flex: 1;
  margin: 0 2rem;
}

.navbar-header .navbar form .form-control {
  background: #f7f7f7;
  border: 1px solid #eee;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.navbar-header .navbar form .form-control input {
  outline: none;
  border: none;
  padding: 0.8rem;
  background: none;
  font-size: 15px;
  flex: 1;
}

.navbar-header .navbar form .form-control .icon {
  font-size: 1.4rem;
  margin: 0 0 0 0.9rem;
}

.navbar-header .navbar .buttons {
  display: flex;
}

.navbar-header .navbar .buttons button:first-of-type {
  margin-right: 1rem;
  position: relative;
}

.navbar-header .navbar .buttons button:first-of-type .dropDown {
  position: absolute;
  bottom: 0;
  transform: translate(25%, 120%);
  right: 0;
  text-align: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  text-align: left;
  width: 150px;
}

.navbar-header .navbar .buttons button:first-of-type .dropDown::before {
  position: absolute;
  top: 0;
  right: 20px;
  content: "";
  transform: translateY(-100%);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  width: 0;
  height: 0;
}

.navbar-header .navbar .buttons button:first-of-type .dropDown > li {
  margin: 0;
  width: 100%;
  padding: 1rem 2rem;
  font-size: 14px;
  font-weight: 600;
  color: #0d1136;
  display: flex;
  align-items: center;
}

.navbar-header .navbar .buttons button:first-of-type .dropDown > li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

.navbar-header .navbar .buttons button:first-of-type .dropDown > li:hover {
  background: #fdfbfb;
}

.navbar-header .navbar .buttons button:first-of-type .dropDown > li p {
  color: #585858;
}

.navbar-header .navbar .buttons button:first-of-type .dropDown > li img {
  margin-right: 0.8rem;
  width: 20px;
}

.navbar-header .navbar .logo-toggle {
  display: flex;
  align-items: flex-start;
}

.navbar-header .navbar .logo-toggle button {
  outline: none;
  border: none;
  background: none;
  font-size: 2.2rem;
  display: inline-block;
  margin-right: 1.2rem;
  display: none;
}

.navbar-header .navbar .flag-search {
  display: none;
}

.navbar-header .navbar .flag-search > div {
  display: flex;
  align-items: center;
}

.navbar-header .navbar .flag-search > div .search-icon {
  font-size: 1.4rem;
}

.navbar-header .navbar .logo {
  color: #0d1136;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar-header .navbar .logo span {
  color: #008d71;
}

.navbar-header .navbar ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-right: 2.8rem;
}

.navbar-header .navbar ul li {
  margin-right: 2.5rem;
  font-weight: 500;
  font-size: 0.95rem;
}

.navbar-header .navbar ul li:last-of-type {
  margin-right: 0;
}

.navbar-header .navbar ul li .link {
  text-decoration: none;
  color: #0d1136;
  transition: color 0.2s ease-in-out;
}

.navbar-header .navbar ul li .link:hover {
  color: #009e7f;
}

.navbar-header .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5000;
}

.navbar-header .sidebar .sidebar-content {
  position: absolute;
  height: 100vh;
  width: 70vw;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.navbar-header .sidebar .sidebar-content .close-btn {
  font-size: 1.5rem;
  color: #787a8c;
  display: grid;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar-header .sidebar .sidebar-content .join {
  background: #f7f7f7;
  display: grid;
  place-items: center;
  padding: 3rem 0;
}

.navbar-header .sidebar .sidebar-content ul {
  padding: 3rem 2.5rem;
}

.navbar-header .sidebar .sidebar-content ul li {
  margin-bottom: 1.7rem;
  font-size: 15px;
}

.navbar-header .sidebar .sidebar-content ul li > * {
  color: #0d1136;
}

.navbar-header .sidebar ul {
  list-style-type: none;
}

.navbar-header .sidebar ul li > * {
  text-decoration: none;
}

.navbar-header .top-search {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
}

.navbar-header .top-search .top-search-content {
  background: #fff;
  padding: 1.2rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-header .top-search .top-search-content input {
  padding: 0.4rem;
  outline: none;
  border: none;
  flex: 1;
  background: none;
  font-size: 15px;
}

.navbar-header .top-search .top-search-content .icon {
  font-size: 1.5rem;
  margin-left: 0.4rem;
}

.navbar-header .top-search .top-search-content .icon:first-of-type {
  margin-right: 1rem;
}

.navbar-header .top-search .top-search-content .title {
  font-size: 14px;
  color: #009e7f;
  padding: 0.3rem 0.6rem;
  margin-right: 0.6rem;
}

.main-section {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.main-section .main-section-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-section .main-section-content h1 {
  font-size: 2.9rem;
  margin-bottom: 0.7rem;
}

.main-section .main-section-content p {
  font-size: 1.1rem;
  color: #787a8c;
  margin-bottom: 3.8rem;
}

.main-section .main-section-content form .form-control {
  background: #fff;
  box-shadow: 0 10px 1.5rem rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
}

.main-section .main-section-content form .form-control button {
  border: none;
  outline: none;
  background: #009e7f;
  padding: 0.75rem 1.5rem;
  color: rgba(255, 255, 255, 0.945);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.main-section .main-section-content form .form-control button p {
  margin: 0;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.966);
  font-size: 14.5px;
}

.main-section .main-section-content form .form-control button .icon {
  font-size: 1.4rem;
  margin-right: 0.4rem;
}

.main-section .main-section-content form .form-control input {
  padding: 0.75rem;
  outline: none;
  border: none;
  margin-right: auto;
  font-size: 15px;
  flex: 1;
}

.main-section-phone {
  display: none;
}

.main-section-phone .phone-header {
  width: 90vw;
  margin: 0 auto;
}

.main-section-phone .phone-header .filter-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section-phone .phone-header .filter-info span {
  color: #009e7f;
  font-weight: 500;
  display: inline-block;
  margin: 0.7rem 0;
}

.main-section-phone .phone-header .filter-info p {
  font-size: 15px;
}

.main-section-phone .phone-header .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-section-phone .phone-header .text p {
  color: #787a8c;
  font-size: 15px;
}

.main-section-phone .phone-header .text ul {
  list-style-type: none;
}

.main-section-phone .phone-header .text ul li {
  color: #009e7f;
  font-size: 15px;
  font-weight: 500;
}

.main-section-phone .phone-header .text ul li::before {
  content: "\2022";
  color: gold;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1em;
}

.main-section-phone .phone-header form .form-control {
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eee;
  margin-top: 1.2rem;
  border-radius: 8px;
}

.main-section-phone .phone-header form .form-control .icon {
  padding: 0.8rem;
  display: grid;
  place-items: center;
  font-size: 1.3rem;
}

.main-section-phone .phone-header form .form-control input {
  flex: 1;
  outline: none;
  border: none;
  background: none;
  font-size: 15px;
}

.products {
  display: grid;
  grid-template-columns: 1fr 5.5fr;
}

.products .close {
  display: none;
}

.products .products-list.bottom-list {
  display: none;
}

.products .products-list {
  padding: 0 2.5rem;
  height: 90vh;
  overflow: auto;
  position: sticky;
  top: 10%;
}

.products .products-list::-webkit-scrollbar {
  width: 3px;
}

.products .products-list::-webkit-scrollbar-track {
  background: #e2e2e2;
}

.products .products-list::-webkit-scrollbar-thumb {
  background: #999;
}

.products .products-list .main-products-list {
  list-style-type: none;
  padding: 3.5rem 0;
}

.products .products-list .main-products-list li {
  color: #0d1136;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  margin-bottom: 2rem;
}

.products .products-list .main-products-list li:hover {
  color: #009e7f;
}

.products .products-list .main-products-list li .links-container {
  overflow: hidden;
}

.products .products-list .main-products-list li .links-container ul {
  transition: transform 0.4s ease-in-out, height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transform: translateX(20%);
  opacity: 0;
  list-style-type: none;
  margin-top: 0.5rem;
  padding-left: 1.6rem;
}

.products .products-list .main-products-list li .links-container ul.active {
  opacity: 1;
  transform: translateX(0);
}

.products .products-list .main-products-list li .links-container ul li {
  padding: 0.3rem 0;
  padding-left: 0.4rem;
  font-size: 13px;
  width: 100%;
  color: #7a7c8e;
  border-radius: 5px;
  margin-bottom: 0.7rem;
}

.products .products-list .main-products-list li .links-container ul li:hover {
  color: #009e7f;
}

.products .products-list .main-products-list li .links-container ul li.green-color {
  color: #009e7f;
  background: #f7f7f7;
}

.products .products-list .main-products-list li .list-header {
  display: flex;
  align-items: canter;
}

.products .products-list .main-products-list li .list-header.green-color {
  color: #1da98e;
}

.products .products-list .main-products-list li .list-header .icon {
  margin-right: 0.8rem;
  font-size: 1.2rem;
}

.products .products-list .main-products-list li .list-header .chevron {
  margin-left: auto;
}

.products .products-content {
  background: #f7f7f7;
  padding: 2rem 1.8rem;
  position: relative;
}

.products .products-content .empty-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.products .products-content .empty-result h1 {
  font-size: 2rem;
}

.products .products-content-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.8rem;
}

.products .products-content-cards img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.products .products-content-cards > div {
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  padding: 1.5rem;
  position: relative;
}

.products .products-content-cards > div .product-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  border-radius: 0;
  cursor: default;
}

.products .products-content-cards > div .product-info .close-btn {
  position: absolute;
  top: 20px;
  right: 40px;
  height: 35px;
  width: 35px;
  background: #fff;
  color: #0d1136;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 0.25s ease-in;
}

.products .products-content-cards > div .product-info .close-btn:hover {
  color: red;
}

.products .products-content-cards > div .product-info .product-info-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 55vw;
  height: 60vh;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  color: #0d1136;
  padding: 2rem;
}

.products .products-content-cards > div .product-info .product-info-content .img-container {
  width: 45%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.products .products-content-cards > div .product-info .product-info-content .img-container .grid-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  gap: 1.2rem;
}

.products .products-content-cards > div .product-info .product-info-content .img-container .grid-gallery img {
  position: static;
  opacity: 1;
  width: 100%;
  height: 100px;
  z-index: 100;
  border: 2px solid #eee;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  transition: border 0.25s ease-in;
  padding: 0.2rem;
}

.products .products-content-cards > div .product-info .product-info-content .img-container .grid-gallery img:hover, .products .products-content-cards > div .product-info .product-info-content .img-container .grid-gallery img.focused {
  border: 2px solid rgba(0, 158, 127, 0.5);
}

.products .products-content-cards > div .product-info .product-info-content .img-container .grid-gallery img:not(:last-of-type) {
  margin-right: 0.5rem;
}

.products .products-content-cards > div .product-info .product-info-content .img-container .prev,
.products .products-content-cards > div .product-info .product-info-content .img-container .next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  color: #787a8c;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  background: transparent;
  transition: color 0.25s ease-in;
}

.products .products-content-cards > div .product-info .product-info-content .img-container .prev:hover,
.products .products-content-cards > div .product-info .product-info-content .img-container .next:hover {
  color: #0d1136;
}

.products .products-content-cards > div .product-info .product-info-content .img-container .prev {
  left: 0;
}

.products .products-content-cards > div .product-info .product-info-content .img-container .next {
  right: 0;
}

.products .products-content-cards > div .product-info .product-info-content .img-container .img {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 80%;
  opacity: 0;
  transition: all 0.5s ease;
  object-fit: contain;
}

.products .products-content-cards > div .product-info .product-info-content .img-container .img.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

.products .products-content-cards > div .product-info .product-info-content .img-container .img.lastSlide {
  transform: translateX(-100%);
}

.products .products-content-cards > div .product-info .product-info-content .img-container .img.nextSlide {
  transform: translateX(100%);
}

.products .products-content-cards > div .product-info .product-info-content .img-container .deal {
  position: absolute;
  top: 0;
  right: 0;
}

.products .products-content-cards > div .product-info .product-info-content .content {
  width: 45%;
  padding: 1rem 0;
}

.products .products-content-cards > div .product-info .product-info-content .content h2 {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.products .products-content-cards > div .product-info .product-info-content .content .description {
  font-size: 15px;
  color: #0d1136;
  opacity: 0.85;
  line-height: 2;
  margin-top: 2rem;
}

.products .products-content-cards > div .product-info .product-info-content .content .price {
  color: #009e7f;
}

.products .products-content-cards > div .image-container {
  height: 230px;
}

.products .products-content-cards > div .deal {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #ffad5f;
  padding: 1px 0 0 0;
  color: #fff;
  height: 24px;
  width: 45px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  font-size: 13px;
}

.products .products-content-cards > div h4 {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 0.4rem;
  margin-top: 1.2rem;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width: 230px;
  display: block;
}

.products .products-content-cards > div p {
  color: #999;
  font-size: 13px;
}

.products .products-content-cards > div .price-cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #009e7f;
  margin-top: 0.8rem;
}

.products .products-content-cards > div .price-cart > div .promotion {
  color: #ffad5f;
  font-size: 13px;
  text-decoration: line-through;
  display: block;
  font-style: italic;
}

.products .products-content-cards > div .price-cart > div .price {
  font-size: 15px;
  font-weight: 500;
}

.products .products-content-cards > div .price-cart button {
  outline: none;
  border: 1px solid #eee;
  border-radius: 16px;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  background: #fff;
  color: #009e7f;
  transition: all 0.25s ease-out;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.products .products-content-cards > div .price-cart button p {
  margin: 0;
  color: #009e7f;
  transition: all 0.25s ease-out;
}

.products .products-content-cards > div .price-cart button .icon {
  margin-right: 0.5rem;
}

.products .products-content-cards > div .price-cart button:hover {
  background: #009e7f;
  color: #fff;
}

.products .products-content-cards > div .price-cart button:hover p {
  color: #fff;
}

.products .products-content .btn-container {
  text-align: center;
}

.products .products-content .btn-container button {
  outline: none;
  border: none;
  margin-top: 2rem;
  background-color: #fff;
  color: #009e7f !important;
  border: 1px solid #eee;
  transition: color 0.25s ease-out, background-color 0.25s ease-out;
}

.products .products-content .btn-container button:hover {
  background-color: #009e7f;
  color: rgba(255, 255, 255, 0.918) !important;
}

@media (max-width: 768px) {
  .navbar-header .navbar {
    padding: 1rem;
  }
  .navbar-header .navbar .hi {
    display: none;
  }
  .navbar-header .navbar .logo {
    font-size: 1.4rem;
  }
  .navbar-header .navbar .logo-toggle button {
    display: block;
  }
  .navbar-header .navbar ul,
  .navbar-header .navbar .buttons {
    display: none;
  }
  .navbar-header .navbar .flag-search {
    display: block;
  }
  .navbar-header .top-search .top-search-content {
    padding: 1.2rem 0.4rem;
  }
  .navbar-header .top-search .top-search-content .icon:first-of-type {
    margin-right: 0.1rem;
  }
  .navbar-header .top-search .top-search-content .title {
    margin-right: 0.3rem;
  }
  .main-section {
    display: none;
  }
  .main-section-phone {
    display: block;
  }
  .products {
    grid-template-columns: 1fr;
    overflow: auto;
  }
  .products .products-list.large-list {
    display: none;
  }
  .products .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .products .close {
    display: block;
    position: fixed;
    left: 50%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    color: #0d1136;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    display: grid;
    place-items: center;
    font-size: 1.4rem;
    z-index: 1500;
    cursor: pointer;
    user-select: none;
  }
  .products .products-list.bottom-list {
    display: block;
    position: fixed;
    width: 100%;
    top: 40%;
    bottom: 0;
    left: 0;
    height: auto;
    z-index: 1000;
    background: #fff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    overflow: auto;
  }
  .products .products-list.bottom-list::-webkit-scrollbar {
    width: 0;
  }
  .products .products-list.bottom-list .main-products-list.bottom-list {
    padding: 2.5rem 0;
  }
  .products .products-content {
    padding: 0;
  }
  .products .products-content-cards {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .products .products-content-cards > div {
    border: 1px #eee solid;
    border-radius: 0;
  }
  .products .products-content-cards > div h4 {
    width: 180px;
  }
  .products .products-content-cards > div .product-info {
    overflow: auto;
  }
  .products .products-content-cards > div .product-info::-webkit-scrollbar {
    width: 0;
  }
  .products .products-content-cards > div .product-info .close-btn {
    top: 39.5%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  .products .products-content-cards > div .product-info .product-info-content {
    width: 100%;
    top: 85%;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .products .products-content-cards > div .product-info .product-info-content .img-container,
  .products .products-content-cards > div .product-info .product-info-content .content {
    width: 100%;
    height: 45%;
  }
  .products .products-content-cards > div .product-info .product-info-content .img-container .grid-gallery {
    margin-bottom: 1rem;
  }
  .products .products-content-cards > div .product-info .product-info-content .img-container .grid-gallery img {
    width: 80%;
    height: 60px;
  }
  .products .products-content-cards > div .product-info .product-info-content .content .description {
    margin-top: 1rem;
  }
}
